body {
  font-family: Arial;
  margin: 0;
  background: linear-gradient(135deg,#00bfa5,#0288d1);
  color: white;
}

.center {
  text-align: center;
  margin-top: 150px;
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #004d40;
  color: white;
  cursor: pointer;
}

header {
  text-align: center;
  padding: 20px;
}

nav a {
  margin: 10px;
  cursor: pointer;
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background: rgba(0,0,0,0.6);
}

.modal-content {
  background: white;
  color: black;
  margin: 10% auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

/* ANIMASI */
.anim {
  animation: muncul 0.4s ease;
}

@keyframes muncul {
  from {transform: scale(0.5); opacity:0;}
  to {transform: scale(1); opacity:1;}
}
